#FormWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}
form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 75%;
  height: 75%;
}
#FormWrapper, form,  #EntryForm {
  border-radius: 8px;
  min-width: 275px;
  min-height: 275px;
}
#FormWrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(77, 53, 84, .95);
  border: 2px solid black;
}
#SubmitButton {
  width: 25%;
  height: 20%;
  min-width: 60px;
  min-height: 35px;
  border: 1px solid black;
  background-color: #b3b3b3;
  border-radius: 4px;
}
#SubmitButton.enabled {
  cursor: pointer;
}
#SubmitButton.disabled {
  color: #e9e9e9;
}
#SubmitButton:hover {

}
.error {
  color: red;
}
#EntryForm {
  height: 50%;
  width: 50%;
}