/*
$color1: rgba(77, 53, 84, 1);
$color2: rgba(244, 96, 54, 1);
$color3: rgba(91, 133, 170, 1);
$color4: rgba(65, 71, 112, 1);
$color5: rgba(23, 17, 35, 1);
*/

#graph-selection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 5%;
  color: white;
}

#MainPage {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: rgb(77, 53, 84); */
  background-color: rgb(129, 28, 28);
}

#visual-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-page-header {
  background-color: rgb(77, 53, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7em;
  width: 90%
}

#hardests {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

#TIME_GRAPH, #PYRAMID, #MEDIAN {
  cursor: pointer;
  border: 1px solid black;
  background-color: rgb(77, 53, 84);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#TIME_GRAPH.selected, #PYRAMID.selected, #MEDIAN.selected {
  background-color: rgba(120, 85, 131, 0.95);
}

#name {
  color: white;
}

a, a:visited, a:link {
  color: white;
}

a:hover {
  color: orange;
}

.hard-send {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 30em;
}

.hard-send-type {
  width: 15em;
}

.g-rect {
  stroke: rgba(139, 80, 156);
}