:root {
  --color1: rgba(77, 53, 84, 1);
  --color2: rgba(244, 96, 54, 1);
  --color3: rgba(91, 133, 170, 1);
  --color4: rgba(65, 71, 112, 1);
  --color5: rgba(23, 17, 35, 1);
}

#MainPage {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color4);
}

#visual-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-page-header {
  background-color: var(--color4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 7em;
  width: 90%
}

.logo {
  position: relative;
  right: 25%;
  color: limegreen;
}

#send-stats-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 7em;
  width: 90%
}

#hardests {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

#graph-selection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 5%;
  color: white;
  background-color: var(--color1);
}

#TIME_GRAPH, #PYRAMID, #HOME {
  cursor: pointer;
  margin-left: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 4px;
}

#TIME_GRAPH > a, #PYRAMID > a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

#HOME > a {
  color: var(--color2);
  text-decoration: none;
  font-weight: 1000;
  font-size: 14pt;
}

#TIME_GRAPH.selected, #PYRAMID.selected, #MEDIAN.selected {
  background-color: rgba(120, 85, 131, 0.95);
}

#name {
  color: white;
}

a, a:visited, a:link {
  color: white;
}

#TIME_GRAPH:hover, #PYRAMID:hover {
  background-color: var(--color2);
}

.hard-send {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 30em;
}

.hard-send-type {
  width: 15em;
}

.g-rect {
  stroke: rgba(139, 80, 156);
}