#graph-selection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 5%;
  color: white;
}
#MainPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#TIME_GRAPH, #PYRAMID, #MEDIAN {
  cursor: pointer;
  border: 1px solid black;
  background-color: rgba(77, 53, 84, .95);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#TIME_GRAPH.selected, #PYRAMID.selected, #MEDIAN.selected{
  background-color: rgba(120, 85, 131, 0.95);
}